<!-- templates/start_page.html -->
{% extends "_base2.html" %}

{% load static %}
{% block content %}
    

    <!-- Analyze (Display while waiting for the model to response.) -->
    <div class="flex flex-col pl-4 text-left text-gray-600 justify-between w-3/12">
      <div class="flex flex-col w-full h-full justify-center items-center space-y-8">
        <div role="status">
            <svg aria-hidden="true" class="inline w-52 h-52 text-gray-200 animate-pulse dark:text-gray-600 " viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle r="50" cx="200" cy="200" stroke="#004CC6" stroke-width="20" opacity="0.5"/>
              <circle r="90" cx="200" cy="200" stroke="#004CC6" stroke-width="20" opacity="0.75"/>
              <circle r="130" cx="200" cy="200" stroke="#004CC6" stroke-width="20" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
        <div>Analyzing Text</div>  
      </div>
      
      <div class="flex w-full h-1/4 items-end ">
        <div class="w-full mb-4 mx-4 justify-items-stretch">
          <button type="reset" class="w-full px-5 py-2.5 text-sm font-medium  text-blue-600 bg-blue-50 rounded-lg transition duration-75 hover:bg-blue-100">
            Clear
          </button>
        </div>
      </div>
    </div>

    <!-- start -->
    <!-- <div class="flex flex-col pl-4 text-left text-gray-600 justify-between w-3/12">
        <div>
          <div class="pt-4 mb-4 text-gray-800">
            <h3 class="text-lg"><strong>Let’s get started.</strong></h3>
          </div>    
          <ul class="space-y-4 text-xs">
            <li><span class="text-gray-800">Step 1:</span> Type or paste the news article.</li>
            <li><span class="text-gray-800">Step 2:</span> Click the <em>‘Detect’</em> button to analyze the article.</li>
            <li><span class="text-gray-800">Step 3:</span> Wait for the results</li>
          </ul>
        </div>
        <div class="flex w-full h-1/4 items-end text-xs">
          <div class="flex w-full mb-4 mx-4 justify-items-stretch space-x-4">
            <button type="reset" class="w-full px-5 py-2.5 text-blue-600 bg-blue-50 rounded-lg transition duration-75 hover:bg-blue-100">
                Clear
            </button>
            <button type="reset" class="w-full px-5 py-2.5 text-white bg-blue-700 rounded-lg transition duration-75 hover:bg-blue-600 hover:text-gray-700">
                Detect
            </button>
            
          </div>
        </div>
    </div> -->

    <!-- Real (Display when the model returns a value that is less than 50%)--->
    <!-- <div class="flex flex-col bg-gray-50 text-gray-800 w-3/12 items-center min-h-0 max-h-screen min-w-0 max-w-screen space-y-4 px-4 pt-2">
      <div class="pl-2 mx-auto min-w-0 max-w-full" id="fake"></div>
      <h3 class="text-green-600">REAL</h3>
      <div class="w-full ml-2 overflow-x-auto">
        <table class="w-full text-xs text-left  text-gray-500 bg-gray-50 ">
                <tr class="space-x-2">
                    <th scope="row" class="py-2 font-medium dark:text-white">
                      Naive Bayes
                    </th>
                    <td class="py-2">
                      Real
                    </td>
                    <td class="py-2">
                      72%
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="py-2 font-medium whitespace-nowrap dark:text-white">
                      Random Forest
                    </th>
                    <td class="py-2">
                      Fake
                    </td>
                    <td class="py-2">
                      81%
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="py-2 font-medium whitespace-nowrap dark:text-white">
                      Logistic Regression
                    </th>
                    <td class="py-2">
                      Real
                    </td>
                    <td class="py-2">
                      79%
                    </td>
                </tr>
                <tr>
                  <th scope="row" class="py-2 font-medium dark:text-white">
                    Support Vector Machine
                  </th>
                  <td class="py-2">
                    Real
                  </td>
                  <td class="py-2">
                    80%
                  </td>
              </tr>
              <tr>
                <th scope="row" class="py-2 font-medium whitespace-nowrap dark:text-white">
                  K-Nearest Neighbors
                </th>
                <td class="py-2">
                  Real
                </td>
                <td class="py-2">
                  80% 
                </td>
            </tr>
        </table>
      </div>
      <div class="flex w-full items-end ">
        <div class="w-full mb-4 mx-4 justify-items-stretch">
          <button type="reset" class="w-full px-5 py-2.5 text-sm font-medium  text-blue-600 bg-blue-50 rounded-lg transition duration-75 hover:bg-blue-100">
            Clear
          </button>
        </div>
      </div>
    </div> -->

    <!-- Fake  (Display when the model returns a value that is more than 50%)-->


    <!-- Neutral (Display when the model returns a value that is 50%) -->
    
  
{% endblock content %}


{% block scripts %}
<script>
  const total = 100;
  let percentage = 75;
  let dispLabel = "";
  if(percentage){
    dispLabel = "Fraudulent";
  }else if(percentage==50){
    dispLabel = "Neutral";
  }else{
    dispLabel = "Legitimate";
  }
const getChartOptions = () => {
    return {
      fontSize: '14px',
      series: [percentage, total-percentage],
      colors: ["#019A5A", "#CFCFCF"],
      chart: {
        width: '100%',
        type: "donut",
        events: {
          mounted: (chart) => {
            chart.windowResizeHandler();
          }
        }
      },
      stroke: {
        colors: ["transparent"],
        lineCap: "",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 20,
              },
              total: {
                showAlways: true,
                show: true,
                label: dispLabel,
                fontFamily: "Inter, sans-serif",
                fontSize: '10',
                formatter: function (w) {
                  return percentage + '%'
                },
              },
              value: {
                showAlways: true,
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: -20,
                formatter: function (val) {
                  return val + "%"
                },
              },
            },
            size: "90%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["Real", "Fake"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        width: '100%',
        height: '100%',
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
      yaxis: {
        labels: {
          formatter: function (value) {
            return value + "%"
          },
        },
      },
      xaxis: {
        labels: {
          formatter: function (value) {
            return value  + "%"
          },
        },
        axisTicks: {
          show: false,
        },
        axisBorder: {
          show: false,
        },
      },
    }
  }

 
    var chart = new ApexCharts(document.getElementById("fake"), getChartOptions());
    chart.render();
    //var neutral = new ApexCharts(document.getElementById("neutral"), getChartOptions());
    //neutral.render();
    //var legit = new ApexCharts(document.getElementById("legit"), getChartOptions());
    //legit.render();
    
    
  </script>
{% endblock scripts %}