#error1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: white;
    color: #6B7280;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 40%;
    top: 30px;
    font-size: 17px;
  }
  

  #error2 {
    visibility: hidden;
    min-width: 250px;
    max-width: 400px;
    margin-left: -125px;
    position: fixed;
    border-radius: 2px;
    border-style: solid;
    border-color: green;
    z-index: 1;
    left: 35%;
    top: 30px;
    font-size: 17px;
  }
 

  #error3 {
    visibility: hidden;
    min-width: 250px;
    max-width: 400px;
    margin-left: -125px;
    position: fixed;
    border-radius: 2px;
    border-style: solid;
    border-color: green;
    z-index: 1;
    left: 35%;
    top: 30px;
    font-size: 17px;
  }
  
  #error1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #error2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #error3.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }