<!-- templates/start_page.html -->
{% extends "_base.html" %}

{% load static %}
{% block content %}

<div class="grid w-full grid-cols-1 gap-2 m-2 mb-50">       
  <div class="border border-gray-300 rounded-2xl shadow-sm h-screen bg-gray-50 mb-96 overflow-y-auto">
    <div class="flex px-20 pt-20 ">
        <div class="text-5xl text-gray-400 ">
            Fake News Detector
        </div>
    </div>
    <div class="flex px-20 pt-20 pb-10">
        <div class="text-5xl text-gray-400 ">
            Decode your text here. We analyze first 500 words/tokens.
        </div>
    </div>
    <div class="flex px-20 mx-auto h-screen my-auto">
        
        <form class="w-full h-1/2">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="w-full h-full pb-16 border border-gray-400 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="flex items-center border justify-between px-3 py-2 dark:border-gray-600">
                    <div class="flex flex-wrap items-center divide-gray-200 sm:divide-x sm:rtl:divide-x-reverse dark:divide-gray-600"> 
                        <button type="button" data-tooltip-target="tooltip-import" class="p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 30 20">
                                <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                                <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Download</span>
                        </button>
                        <div id="tooltip-import" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            Import
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                </div>
                
                <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800 h-full w-full">
                    <label for="editor" class="sr-only">Text field</label>
                    <textarea id="editor" rows="8" class="block w-full h-full resize-none px-0 text-xl text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="" required></textarea>
                </div>
                <div class="h-56 float-right">
                    <button type="reset" class="inline-flex mt-10 items-center px-5 py-2.5 text-base font-normal text-gray-900 bg-gray-300 rounded-lg transition duration-75 hover:bg-gray-500">
                        Clear
                    </button>
                    <button type="submit" class="inline-flex mt-10 items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                        Detect
                    </button>
                    
                </div>
            </div>
            
        </form>
 
    </div>
  </div>
</div>


{% endblock content %}